/* ------------------------------ */
/* START:STYLES FOR FOLDER DROPDOWN */
/* ------------------------------ */

#folder-dropdown-div {
	padding-right: 25px;
}

#folder-edit-button {
	color: #202124;
	padding: 1px 16px 10px;
	margin-right: 10px;
	border-radius: 8px;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	background-color: #f1f3f4;
	cursor: pointer;
}

#folder-edit-button:hover {
	background-color: #e8eaed;
}

#edit-icon {
	transform: translate(0, 8px);
}

#folder-dropdown {
	font-size: 14px;
	font-weight: 500;
	color: #202124;
	padding: 10px 24px;
	border-radius: 8px;
	text-align: center;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	background-color: #f1f3f4;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 1.2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;

	text-align-last: center;
}

#folder-dropdown:hover {
	background-color: #e8eaed;
}

.folder-dropdown-option {
	font-size: 14px;
	font-weight: 500;
	color: #202124;
	background-color: #fff;
	text-align: left;
}

.folder-dropdown-option:hover {
	background-color: #e8eaed;
}

.folder-dropdown-option:checked {
	background-color: #fff;
	font-weight: 700;
	color: #1a73e8;
}

/* ------------------------------ */
/* END:STYLES FOR FOLDER DROPDOWN */
/* ------------------------------ */

/* ------------------------------ */
/* START:STYLES FOR FOLDER CREATION MODAL */
/* ------------------------------ */

#folder-creation-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Style the modal form */
#modal-form {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background-color: #fff;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
		0 4px 8px 3px rgba(60, 64, 67, 0.15);
	width: 400px;
	max-height: 70vh;
	overflow-y: auto;
}

/* Style the dimmed background */
#modal-overlay {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9998;
}

/* Button styles */
#folder-creation-modal-modal-close {
	background-color: #fff;
	border-radius: 50%;
	margin-top: 0;
	padding: 8px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 12px;
}

#folder-creation-modal-modal-submit {
	margin-top: 30px;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #1a73e8;
	cursor: pointer;
	position: relative;
	float: right;
}

#folder-creation-modal-modal-close:hover {
	background-color: #dadce0;
}

#folder-creation-modal-modal-submit:hover {
	background-color: #0f61c7;
}

.folder-creation-modal-title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #202124;
}

/* Form styles */
.folder-creation-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.folder-creation-input[type="text"],
#folder-creation-modal-class-select {
	margin-bottom: 10px;
	font-size: 14px;
	padding: 12px 16px;
	border: 1px solid #dadce0;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}

/* ------------------------------ */
/* END:STYLES FOR FOLDER CREATION MODAL */
/* ------------------------------ */

/* ------------------------------ */
/* START:STYLES FOR FOLDER SETTING MODAL */
/* ------------------------------ */

#folder-setting-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Style the modal form */
#modal-form {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background-color: #fff;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3),
		0 4px 8px 3px rgba(60, 64, 67, 0.15);
	width: 400px;
	max-height: 70vh;
	overflow-y: auto;
}

/* Style the dimmed background */
#modal-overlay {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 9998;
}

/* Button styles */
#folder-setting-modal-modal-close {
	background-color: #fff;
	border-radius: 50%;
	margin-top: 0;
	padding: 8px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 12px;
}

#folder-setting-modal-modal-delete {
	margin-top: 30px;
	margin-right: 10px;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #db4437;
	cursor: pointer;
	position: relative;
	float: right;
}

#folder-setting-modal-modal-submit {
	margin-top: 30px;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #0f61c7;
	cursor: pointer;
	position: relative;
	float: right;
}

#folder-setting-modal-modal-close:hover {
	background-color: #dadce0;
}

#folder-setting-modal-modal-delete:hover {
	background-color: #c23327;
}

#folder-setting-modal-modal-submit:hover {
	background-color: #0b4e9f;
}

#folder-setting-modal-modal-submit:disabled,
#folder-setting-modal-modal-delete:disabled {
	background-color: #dadce0;
}

.folder-setting-modal-title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #202124;
}

/* Form styles */
.folder-setting-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.folder-setting-input[type="text"],
#folder-setting-modal-class-select {
	margin-bottom: 10px;
	font-size: 14px;
	padding: 12px 16px;
	border: 1px solid #dadce0;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}

/* ------------------------------ */
/* END:STYLES FOR FOLDER SETTING MODAL */
/* ------------------------------ */

/* ------------------------------ */
/* START:SHARED STYLES FOR  FOLDER CREATION MODAL & FOLDER SETTING MODAL */
/* ------------------------------ */

.label {
	margin-bottom: 8px;
	font-weight: 500;
	color: #5f6368;
}

.class-option {
	border-radius: 5px;
	font-size: 14px;
	padding: 5px 10px 5px 10px;
	margin: 5px 0;
}

.class-option:disabled {
	background-color: #f1f3f4;
	color: #5f6368;
}

.class-option:checked {
	background-color: #1a73e8;
	color: white;
}

.class-option:hover {
	background-color: #f1f3f4;
}

/* ------------------------------ */
/* END:SHARED STYLES FOR  FOLDER CREATION MODAL & FOLDER SETTING MODAL */
/* ------------------------------ */

/* ------------------------------ */
/* START:STYLES FOR CLASS SETTING MODAL */
/* ------------------------------ */

#class-setting-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Button styles */
#class-setting-modal-modal-close {
	background-color: #fff;
	border-radius: 50%;
	margin-top: 0;
	padding: 8px;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 12px;
}

#class-setting-modal-modal-submit {
	margin-top: 30px;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #1a73e8;
	cursor: pointer;
	position: relative;
	float: right;
}

#class-setting-modal-modal-close:hover {
	background-color: #dadce0;
}

#class-setting-modal-modal-submit:hover {
	background-color: #0f61c7;
}

.class-setting-modal-title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 500;
	color: #202124;
}

/* Form styles */
.class-setting-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.class-setting-input[type="text"] {
	margin-bottom: 10px;
	font-size: 14px;
	padding: 12px 16px;
	border: 1px solid #dadce0;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
}
